{{/* TODO: render active/inactive links based on current page */}}
<div id="nav-links" data-current-path="{{ . }}">
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/help">Help</a> |
</div>
