<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}offline wiki{{ end }}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <h1>Offline Wiki</h1>
        {{ template "_root-nav" .Path }}
    </nav>

    <main class="content" id="content">
        {{ block "content" . }}{{ end }}
    </main>

    {{/* the 'status' element is used to show online/offline */}}
    <div class="status" id="status"></div>
    <script src="/js/main.js"></script>
</body>
</html>
